#modal {
	position: absolute;
	z-index: 10;
	background: #FFF;
	color: #9797A6;
	left: 6em;
/*
	border: 4px solid #FFF; 
	border-bottom: 0;
	right: 6em;
*/

	> .wrapper {
		position: relative;
	}
	
	.info {
		position: absolute;
		z-index: 10;
		right: 0; 
		top: 0;
		background: rgba(255,255,255, .9);
		height: 100%;
	}
		
	.icons {
		width: 30px; height: 30px;
		float: right;
		opacity: .5;
		background: url(../img/icon.png) center center no-repeat;
		cursor: pointer;
		
	&:hover {
		opacity: 1;
	}
		
	}
	
	section {
		margin: 1em;
			
		h3{
			margin: 1em 0 .5em 0;
		}
			
		p{
			margin: 0 0 1em 0;
		}
	}
			
}	

	
	
	
		
		
		
		