#modal {
	position: absolute;
	z-index: 10;
	background: #FFF;
	color: #9797A6;
	left: 6em;

	> .wrapper {
		position: relative;
	}
	
	.info {
		position: absolute;
		z-index: 5;
		right: 0; 
		top: 0;
		background: rgba(255,255,255, .9);
		height: 100%;
	
	@include screen-small{
		position: relative;
		right: auto;
		top: auto; 
		bottom: auto;
	}
	}
	
	.controls {
		margin: 0;
		padding: 0;
		list-style: none;
		height: 32px;
		position: absolute; right: -8px; top: -8px;z-index: 20;
		
		.icon {
			width: 32px;
			height: 100%;
			border-radius: 100%;
			border: 3px solid $white;
			display: block;
			background-color: $grey;
			background-image: url(../img/icon/32x32.svg);
			background-repeat: no-repeat;
			background-position: -32px -32px;
			background-size: 64px 96px;
			cursor: pointer;
			transition: background-color 1s;
			
		&:hover {
			background-color: $black;
		}
		}
	
	&:focus{
		
		.icon{
			background-color: $black;
		}	
	}	
	}
		
	section {
		margin: 1em;
			
		h3{
			margin: 1em 0 .5em 0;
		}
			
		p{
			margin: 0 0 1em 0;
		}
	}
			
&.mobile{
	
	.controls {
		
		.icon{
		border-width: 2px;
		}	
	}
}


@include screen-small{
	left: 1em;
}
}	

	
	
	
		
		
		
		