#selector_button {
	background: none;
	color: #FFF;
	font-size: 1em;
	border: 0;
	cursor: pointer;
	padding: 0;
	margin: 0;
				
&:focus{
	outline: none;	
}
				
&:before{
	content: '\25BC';
	margin-right: 10px;
}				

@include screen-small {
	display: none;
}
}

#selector{
	background: #FFF;
	position: absolute;
	top: 0;
	left: 0; 
	z-index: 100;
	overflow-y: scroll;
	overflow-x: hidden;



	> .wrapper {
		margin: 0 10px;
		position: absolute;
	
	@include screen-small{
		margin: 10px 0;
		position: absolute; 
		display: table;
	}
	}
	
	canvas{
		display: block;
	}
		
		
	.option{
		position: relative;
		cursor: pointer;
		margin-bottom: 10px;
		
		.canvas-color{
			position: absolute;
			opacity: .25; 
			transition-property: opacity;
			transition-duration: .25s;

		}
	
	&:hover,
	&:focus {
		
		.canvas-color{
			opacity: 1;
		} 
	}	
	
	@include screen-small{
		padding-right: 10px;
		display: table-cell;
	}
	}
	

@include screen-small{
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-bottom: 1em;
}
}
	