#content {
	
	> .wrapper {
		position: relative; 
		z-index:10;
	}	
}

header,
nav,
main,
footer {
	
	> .wrapper{
		margin: 0 6em;
			 
		@include screen-small{
			margin: 0 1em;
		}
	}			
}	

header {
	margin-bottom: 0;
	
	> .wrapper{
		display: table;
	
		div {
			display: table-cell;
			
			&.logo{
				
			
			@include screen-full{
				margin-right: 20em;
			}
			@include screen-large{
				margin-right: 12em;
			}
			@include screen-medium{
				margin-right: 8em;
			}
			@include screen-small{
				margin-right:0;
			}
			}
			&.dropdown{
				text-align: left;
				width: 35%;
			
			@include screen-small{
				position: relative; 
			}
			}
		
		@include screen-small{
			display: block;
			width: 100%;
		}
		}
	
	}

@include screen-small{
	margin-bottom: 0;
}
}

nav {
	margin-bottom: 2em;


}

main {
	opacity: 1;
	transition: opacity .5s;
	
	.content {
		width: 60%;
	
	&.people,
	&.projects,
	&.contact {
		display: none;
	}
	
	@include screen-small{
		width: auto;
	}
	}
	
	@include screen-small{
		position: relative;
	}

&.fade {
	opacity: 0;
}
}

