body {
	background: $grey;
	color: $white;
	overflow: hidden;
	font-family: $raleway;
	font-weight: 400;
	line-height: 1.65em;

&.modal {
	background: $orange;
}

}
/* =========== ANCHOR ============= */

a {
	nav &{
// 		text-decoration: none;
		
		&.active{
// 			color: $white;
		}
	}
}





/* =========== IMAGES ============= */

img {
	
	&.autosize {
		max-width: 100%;
		height: auto;
	}
	.logo &{
		
	@include screen-small{
		margin:0 4em;
	}
	}
}

/* =========== ELEMENTS ============= */

#backcanvas {
	position: absolute;
	opacity: .15;
}

.content {
// 	background: $black;
}
/* =========== HEADERS ============= */

h1 {
	margin: 0 0 1em 0;
	font-family: $montserrat;
	font-weight: 400;
}