html{
	height: 100%;
}


body {
	background: $grey;
	color: $white;
	font-family: $raleway;
	font-weight: 400;
	line-height: 1.65em;
	transition: background-color .5s;
	overflow: hidden;
	height: 100%;

&.modal {
	background: $orange;
}
@include screen-small{
	overflow-y: scroll;
	height: auto;
}
}
/* =========== ANCHOR ============= */

a {
	nav &{
// 		text-decoration: none;
		
		&.active{
// 			color: $white;
		}
	}
}

/* =========== FOCUS ============= */

body{
	
	a:focus,
	*[tabindex="0"],
	*[tabindex="-1"]{
		outline-width: 0;
	}

&.tabstyles{

	a:focus,
	*[tabindex="0"],
	*[tabindex="-1"]{
		outline-width: thick;
	}
}
}

/* =========== IMAGES ============= */

img {
	
	&.autosize {
		max-width: 100%;
		height: auto;
	}
	.logo &{
		margin-top: .25em;	
		margin-bottom: .5em;	
	
	@include screen-small{
		margin:0 2em;
	}
	
	}
}

/* =========== ELEMENTS ============= */

#backcanvas {
	position: absolute;
	opacity: .15;
}

.content {
// 	background: $black;
}
/* =========== HEADERS ============= */

h1 {
	margin: 0 0 1em 0;
	font-family: $montserrat;
	font-weight: 400;
}