


body {
/*
	margin: 0;
	padding: 0;
	background: #EF4136;
	color: #FFF;
	overflow: hidden;
*/
}
	
	
img {
/*
		max-width: 100%;
		height: auto;
*/
	}
	
#content {
/* 	padding: 0 5em; */
}

	#backcanvas {
/*
		position: absolute;
		opacity: .15;
*/
	}
	
	#content > .wrapper {
/*
		position: relative; 
		z-index:10;
*/
	}
		
		header > .wrapper,
		nav > .wrapper,
		main > .wrapper,
		footer > .wrapper {
/* 			margin: 0 6em; */
		}	

header {
/* 	margin-bottom: 2em; */
}

header > .wrapper {
/*
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 125px;
*/
}

header > .wrapper div{
/* 	background: blue; */
}
	header div.logo{
/* 		flex: 1 1 auto; */
	}
	header div.dropdown{
/*
		flex: 0 0 35%;
		text-align: left;
*/
	}

	header button{
/*
		background: none;
		color: #FFF;
		font-size: 1em;
		border: 0;
		cursor: pointer;
		padding: 0;
		margin: 0;
*/
	}
	
		header button:focus{
/* 			outline: none; */
		}
		
		header button:before{
/*
			content: '\25BC';
			margin-right: 10px;
*/
		}

#selector{
/*
	background: #FFF;
	position: fixed;
	top: 0; 
	z-index: 100;
*/
}
	#selector > .wrapper {
/*
		margin: 0 10px;
		position: absolute;
*/
	}
		#selector canvas{
/* 			display: block; */
		}
	
		#selector .option{
/*
			position: relative;
			cursor: pointer;
			margin-bottom: 10px;
*/
		}
	
		#selector .canvas-color{
/*
			position: absolute;
			opacity: 0; 
*/
		}	
	
		#selector .option:hover .canvas-color{
/* 			opacity: 1;  */
		}
	
#modal {
/*
	position: absolute;
	z-index: 10;
	background: #FFF;
	color: #9797A6;
	left: 6em;
*/
}	

	#modal > .wrapper{
/* 		position: relative; */
	}
	
		#modal .info{
/*
			position: absolute;
			z-index: 10;
			right: 0; 
			top: 0;
			background: rgba(255,255,255, .9);
			height: 100%;
*/
		}
		
		#modal .icons {
/*
			width: 30px; height: 30px;
			float: right;
			opacity: .5;
			background: url('img/icon.png') center center no-repeat;
			cursor: pointer;
*/
		}
		#modal .icons:hover {
/* 			opacity: 1; */
		}
		
		#modal section{
/* 			margin: 1em; */
		}
		#modal h3{
/* 			margin: 1em 0 .5em 0; */
		}
		#modal p{
/* 			margin: 0 0 1em 0; */
		}

nav {
/* 	margin-bottom: 2em; */
}

nav ul{
/*
	width: 60%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
*/
}

nav li {
/* 	flex: 1 1 auto; */
}

nav .active{
/* 	color: #FFF; */
}


main {
/* 	width: 60%; */
/* 	min-height: 400px; */
}
main .content {
/* 	visibility:hidden; */
/* 	width: 60%; */
}
main content.people,
main content.projects,
main content.contact {
/* 	visibility: hidden; */
/* 	display: none; */
}

h1 {
/* 	margin: 0 0 1em 0; */
}
